{
    "18": {
        "size": "MB",
        "f": "mp4",
        "q": "360p",
        "q_text": "360p (.mp4)",
        "k": "joZBWtOwwpGhb8av6qbXqcT9Al7j4vJxhNgqkwxwV/tQ99R4mbbxc4cYd+lentq+HM4A6W+A"
    },
    "22": {
        "size": "MB",
        "f": "mp4",
        "q": "720p",
        "q_text": "720p (.mp4) <span class=\"label label-primary\"><small>m-HD</small></span>",
        "k": "joZBWtOwwpGhb8av6qbXqcT9Al7j4vJxhNgqkwx0U/tQ99R4mbbxc4cYd+lentq+HM4A6WyK"
    },
    "133": {
        "size": "91.4 MB",
        "f": "mp4",
        "q": "240p",
        "q_text": "240p (.mp4)",
        "k": "joZBWtOwwpGhb8av6qbXqcT9Al7j4vJxhNgqkwxxVftcutx2gKrycpkBef5BnNnyDdNEoSKJIoM="
    },
    "135": {
        "size": "112.7 MB",
        "f": "mp4",
        "q": "480p",
        "q_text": "480p (.mp4)",
        "k": "joZBWtOwwpGhb8av6qbXqcT9Al7j4vJxhNgqkwx3WftQ99R4mbbxc4cYd+lentq+HM4A6W+LJA=="
    },
    "160": {
        "size": "85.4 MB",
        "f": "mp4",
        "q": "144p",
        "q_text": "144p (.mp4)",
        "k": "joZBWtOwwpGhb8av6qbXqcT9Al7j4vJxhNgqkwxyVf9cutx2gKrycpkBef5BnNnyDdNEoSKJJ4A="
    },
    "399": {
        "size": "309.1 MB",
        "f": "mp4",
        "q": "1080p",
        "q_text": "1080p (.mp4) <span class=\"label label-primary\"><small>HD</small></span>",
        "k": "joZBWtOwwpGhb8av6qbXqcT9Al7j4vJxhNgqkwxyUfMcts0H8fjxep4BfPZfg937X48HpSLVYYSXY1bQ"
    },
    "3gp@144p": {
        "size": "MB",
        "f": "3gp",
        "q": "144p",
        "q_text": "144p (.3gp)",
        "k": "joZBWtOwwpGhb8av6qbXqcT9Al7j4vJxhIY91wxyVf9cutx2gKrycpkBef5BnNnyDdNEoSKLdsCrYVvdpg=="
    },
    "auto": {
        "size": "",
        "f": "mp4",
        "q": "auto",
        "selected": "selected",
        "q_text": "MP4 auto quality",
        "k": "joZBWtOwwpGhb8av6qbXqcT9Al7j4vJxhNgqkwwiFL9Dutx2gKrycpkBef5BnNny"
    }
}